<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person's Name - Website</title>
    <link rel="icon" type="image/x-icon" href="static/3.jpg">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <h1>Person's Name</h1>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="about">
    <h2>About</h2>
    <div class="image-container">
        <img src="/static/p1.jpg">
        <img src="/static/p2.jpg">
        <img src="/static/p3.jpg">
    </div>
    
</section>

    <section id="portfolio">
        <h2>Portfolio</h2>
        <!-- Add images, videos, or descriptions of the person's work -->
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>Add contact information here.</p>
        <p>You can also include a contact form for visitors to reach out.</p>
    </section>

    <footer>
        <p>&copy; 2024 Person's Name</p>
    </footer>
</body>
</html>
