<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheRayhan PY - Website</title>
    <link rel="icon" type="image/x-icon" href="static/3.jpg">
    <link rel="stylesheet" href="/static/video.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>TheRayhan PY</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="photos">Photos</a></li>
                    <li><a href="/#contact">Contact</a></li>
                    <li><a href="/video">Video</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <section id="photos">
                <h2>Video Gallery</h2>
                <div class="gallery">
                    <div class="gallery-item">
                        <video controls>
                            <source src="/static/v1.mp4" type="video/mp4">
                            <p>Your browser does not support the video tag.</p>
                        </video>
                    </div>
                    <div class="gallery-item">
                        <video controls>
                            <source src="/static/v2.mp4" type="video/mp4">
                            <p>Your browser does not support the video tag.</p>
                        </video>
                    </div>
                    <div class="gallery-item">
                        <video controls>
                            <source src="/static/v3.mp4" type="video/mp4">
                            <p>Your browser does not support the video tag.</p>
                        </video>
                    </div>
                    <div class="gallery-item">
                        <video controls>
                            <source src="/static/v4.mp4" type="video/mp4">
                            <p>Your browser does not support the video tag.</p>
                        </video>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; 2024 Made By TheRayhan PY</p>
        </footer>
    </div>
</body>
</html>
